.gimme {
    display: block;
    float: left;
    height: 240px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: calc((100% - 20px) / 3);
}

.gimme:nth-child(3n) {
    margin-right: 0;
}

.gimme__name {
    -webkit-font-smoothing: antialiased;
    background: #434343;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bolder;
    overflow: hidden;
    padding: 15px 10px;
    position: relative;
    text-overflow: ellipsis;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1;
}

.gimme__image {
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    width: auto;
}
